# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
/venv/

# User-generated folders
uploads/
generated_audio/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor specific
.idea/
.vscode/
*.swp
